name: Build and deploy to Azure Web App

on:
  push:
    branches:
      - main
  workflow_dispatch:

jobs:


  build:
    name: build client and server
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3

      - name: Set up Node.js version
        uses: actions/setup-node@v3
        with:
          node-version: '18.x'
          cache: 'npm'

      - name: install, build, and test client
        working-directory: ./client
        run: |
          npm i
          npm run build --if-present

      - name: install and build server
        working-directory: ./server
        run: |
          npm i
          npm run build --if-present

      - name: Create env file
        working-directory: ./server/dist
        run: |
          echo "${{ secrets.ENV_FILE }}" > .env

      - name: Create artifact archive
        run: |
          tar -czvf node-app.tar.gz ./client ./server

      - name: Upload artifact for deployment job
        uses: actions/upload-artifact@v2
        with:
          name: node-app
          path: node-app.tar.gz

  deploy:
    name: deploy to azure
    runs-on: ubuntu-latest
    needs: build
    environment:
      name: 'Production'
      url: ${{ steps.deploy-to-webapp.outputs.webapp-url }}

    steps:
      - name: Download artifact from build job
        uses: actions/download-artifact@v2
        with:
          name: node-app

      - name: Extract artifact
        run: |
          tar -xzf node-app.tar.gz

      - name: 'Deploy to Azure Web App'
        id: deploy-to-webapp
        uses: azure/webapps-deploy@v4
        with:
          app-name: 'netizen-space-test'
          slot-name: 'Production'
          publish-profile: ${{ secrets.AZUREAPPSERVICE_PUBLISHPROFILE_2CC3E80AB1874C429D35BA8DC01572C5 }}
          package: .
